---
import { Icon } from "astro-icon/components";
const today = new Date();
const socialLinks = [
	{
		iconName: "github",
		href: "https://github.com/renegarcia/clubdeprogra",
		screenReaderText: "Github repo de club de progra",
	},
	{
		iconName: "instagram",
		href: "https://www.instagram.com/clubdeprogra",
		screenReaderText: "Instagram de club de progra",
	},
];
const iconSize = 36;
---

<footer>
	&copy; {today.getFullYear()}
	<a href="https://numerics.mx">Numerics.mx</a> . All rights reserved.
	<div class="social-links">
		{
			socialLinks.map((social) => (
				<a href={social.href} target="_blank">
					<span class={social.screenReaderText} />
					<Icon name={social.iconName} size={iconSize} />
				</a>
			))
		}
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
